@charset "UTF-8";
html, body {
  overflow-x: hidden;
}

h1 {
  margin: 0;
}

#first-page {
  height: 960px;
  background-image: url(../img/football_1920.jpg);
  background-size: 100% 100%;
}

/*Логотип */
.first-page_logo_pic {
  margin-top: 2.7380952380952380952380952380952%;
  background-color: #fff;
  height: 53px;
  width: 11.488095238095238095238095238095%;
}

.first-page_logo {
  padding-bottom: 14.52380952380952380952380952381%;
}

/*Стили заголовка */
.first-page_zag {
  font-size: 6.4285714285714285714285714285714rem;
}

/*Стили для кнопок */
.first-page_dowload {
  margin-top: 11.309523809523809523809523809524;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-page_dowload_btn {
  align-items: center;
  width: 18.928571428571428571428571428571%;
  height: 80px;
  margin-left: 2.9166666666666666666666666666667%;
  padding-left: 0;
}

.first-page_dowload_btn_img {
  /*Стили для иконки */
  margin-right: 1.6666666666666666666666666666667%;
  width: 43px;
  height: 56px;
}

.first-page_dowload_btn .firstline {
  font-family: OpenSans-Regular;
}

.second-page_list_zag {
  padding-top: 5.15625%;
  margin-top: 0;
  margin-left: 58.386535113174695298897272199652%;
}

.list {
  display: flex;
  flex-direction: column;
}

.list_atlets {
  font-size: 20px;
  padding-bottom: 2.7083333333333333333333333333333%;
}

.list_item {
  width: 100%;
  display: flex;
  padding-left: 0;
}

.list_item_text {
  flex-direction: column;
}

.list_item_zag {
  font-size: 36px;
}

.list_zag {
  padding-left: 0;
  font-size: 80px;
  margin-bottom: 3.1770833333333333333333333333333%;
  display: flex;
  align-items: flex-end;
}

.atlets-list_item_text {
  margin-left: 58.386535113174695298897272199652%;
  margin-right: 13.020833333333333333333333333333%;
}

.list_item_1 {
  padding-top: 0;
  margin-right: 9.4791666666666666666666666666667%;
  padding-bottom: 1.5104166666666666666666666666667%;
  background-color: #fff;
}

.list_item_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.list_item_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
}

.pic {
  height: 917px;
  width: 29.375vw;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-top: -47.760416666666666666666666666667vw;
  margin-left: 0;
  margin-left: 20.15625%;
}

.atlets_pic {
  background-image: url(../img/footballer_566.png);
  order: 3;
}

h4 {
  margin: 0;
}

.third-page_img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  order: 3;
}

.players_pic {
  height: 815px;
  width: 51.614583333333333333333333333333%;
  background-image: url(../img/basketballer_991.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.list_item_1-2 {
  padding-top: 0;
  padding-right: 54.6875%;
  padding-bottom: 3.125%;
}

.list_item_2-2 {
  padding-top: 3.0729166666666666666666666666667%;
  padding-bottom: 4.53125%;
  padding-right: 54.6875%;
}

.list_item_3-2 {
  padding-top: 3.2291666666666666666666666666667%;
  padding-bottom: 3.0729166666666666666666666666667%;
  padding-right: 54.6875%;
}

.list_zag_players {
  margin-top: 3.6979166666666666666666666666667%;
  margin-left: 9.4270833333333333333333333333333%;
}

.players-list_item_text {
  font-size: 20px;
  margin-left: 9.4270833333333333333333333333333%;
  margin-right: 53.125%;
}

.four-page_size {
  flex-direction: row;
  height: 727px;
  width: 100%;
}

.four-page_size img {
  width: 50vw;
}

.four-page_size .four-page_sect {
  order: 1;
}

.four-page_sect {
  margin-top: 12.708333333333333333333333333333%;
  margin-left: 6.71875%;
  margin-right: 13.541666666666666666666666666667%;
  padding-left: 0;
}

.four-page_sect_zag {
  margin-top: 0;
  font-size: 80px;
}

.four-page_sect_r {
  margin-right: 9.4791666666666666666666666666667%;
}

.four-page_pic {
  order: 2;
}

#five-page {
  height: 963px;
  background-image: url(../img/game_1920.jpg);
  background-size: 100% 100%;
}

.five-page_zag {
  padding-top: 13.928571428571428571428571428571%;
  font-size: 5.7142857142857142857142857142857rem;
  color: white;
  font-family: OpenSans-Bold;
  flex-direction: row;
}

.five-page_zag_text {
  margin-top: 0;
}

.five-page_zag_desc {
  font-size: 2.1428571428571428571428571428571rem;
}

.five-page_zag_logo {
  width: 8.2142857142857142857142857142857%;
  height: 138px;
}

.five-page_logo {
  margin-top: 10.833333333333333333333333333333%;
}

.five-page_dowload {
  margin-top: 8.9880952380952380952380952380952%;
  display: flex;
  justify-content: center;
}

.five-page_logo_pic {
  width: 11.666666666666666666666666666667%;
  height: 53px;
}

h4 {
  color: #e7e7e7;
  margin: 0;
}

h6 {
  color: #dedede;
}

.bg-ww {
  background-color: #fff;
}

.bg-w {
  background-color: #f6f4fa;
}

.bg-p {
  background-color: #5c42b0;
}

.bg-bl {
  background-color: #0a0e34;
  color: #c1c1c1;
}

img {
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: 50vw;
}
