#first_page{
    background-image: url(../img/football_767.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
   
}
#overlay {
    
    width: 100%;
    height: 100%;
    background-color: rgba(10, 14, 52, 0.9);
    color: white;
  }

  .first_page_logo_pic
  {
    background-size: 1.5rem ; 
  -webkit-mask-image: url('../svg/surface_logo_text.svg');
  -webkit-mask-repeat: no-repeat;
  background-color: #fff;
  width: 134px;
  height: 39px;
  }
  .first_page_logo{
     padding-bottom: 136px;
  }
  
  .first_page_zag
  {
      color: white;
      font-family: OpenSans-Bold;
      font-size: 28px;
      width: 100%;
  }
  .first_page_zag h1{
     
      padding: 0 20px 0 20px;

  }
 .first_page_dowload
 {
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    
   
 }

  .first_page_dowload_btn
  {
    color: white;
    background-color: $lilo;
    display: flex;
    padding-left: 82px;
    width: 280px;
    height: 37px;
    border: 0;
    border-radius: 25px;
    font-size: 9px;
    margin-bottom: 16px;
     
     
      
  }
  .first_page_dowload_btn_img
  {
    background-size: 1.5rem;
    background-color: rgb(248, 246, 246);
    width: 1.5rem;
    height: 1.5rem;
  -webkit-mask-image: url('../svg/google-play.svg');
  margin-right: 2.3906287353573989959359311498924vh;
     
  }
  .first_page_dowload_btn .firstline{
    font-family: OpenSans-Regular;
  }
  .first_page_dowload_btn_text{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }