#five_page{
    background-image: url(../img/game_1920.jpg);
    background-size: 100% 50vw;  
}
.five_page_zag{
    padding-top: 168px;
    font-size: 58px;
    color: white;
      font-family: OpenSans-Bold;}
      
     
.five_page_zag_desc{
    font-size: 22px;
   
}
.five_page_zag_logo
{
    width: 100px;
    height: 100px;
   
}

.five_page_logo
{
    margin-top: 182px;}
