#five_page{
   
    background-image: url(../img/game_767.jpg);
    background-size: 100% 50vw;
   
}
.five_page_zag{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 100px;
    font-size: 32px;
    color: white;
      font-family: OpenSans-Bold;
      
      width: 100%;
}
.five_page_zag_desc{
    font-size: 14px;
    font-family: OpenSans-Regular;
    color: #a496ca;
}
.five_page_zag_logo
{
    width: 76px;
    height: 76px;
    display: flex;
   
}
.five_page_zag_text
{
    margin-left: 24px;
}
.five_page_logo
{
    margin-top: 82px;
}