.four-page_size
{
    width: 100%;
    height: 992px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
   & img{
        order: 1;
    }
    & .four-page_sect
    {
        order: 2;
        padding-left: 20px;
    }
}
.four-page_sect 
{
    padding-left:0;
    margin-left: 4.296875%;//33px;
    margin-right: 11.848958333333333333333333333333%;//91px;
    &_zag {
    
        font-size: 2rem;
        margin-top: 12.109375%;//93px;
        font-size: 60px;
       
    }
}

