.four-page_size
{
    height: 536px;
    display: flex;
    flex-direction: column;
   & img{
        order: 1;
        width: 100%;//320px;
    }
    & .four-page_sect
    {
        order: 2;
        padding-left: 6.25%;//20px;
    }
}
.four-page_sect_zag {
    
    font-size: 2rem;//28px;
    margin-top: 34px;/*22px когда будет верстка квадратика*/
   
}
