.four-page_size
{
    height: 536px;
    display: flex;
    flex-direction: column;
   & img{
        order: 1;
        width: 100%;//320px;
    }
    & .four-page_sect
    {
        order: 2;
        padding-left: 6.25%;//20px;
    }
}
.four-page_sect_zag {
    
    font-size: 2rem;//28px;
    margin-top: 22px;
   
}


.four-page_block-numb {
    margin-top: -60px;
    margin-left: 20px;
    width: 70px;
    height: 72px;
    background-color: $lilo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-family: OpenSans-Bold;
  }

  .four-page_block-numb:after{
    content: "";
   
    display: inline-block;
    width: 1rem;
    height: 4px;
    width: 25%;
    border-radius: 10px;
    background-color: #8f7bc8;
    vertical-align: middle;
}