.secondpage{
    display: flex;
    flex-direction: column;
}
.list
{
   display: flex;
   flex-direction: column;
   order: 3;
   margin-top: -54px;
}

.list_item{
    width: 100%;
    display: flex;
   
}
.list_item_1{

    padding-top: 54px;
    height:211px;
    background-color: #fafafa;
    
 
}
.list_item_2{

   
    height:184px;
    
 
}
.list_item_3{

    
    height:164px;
 
}
.list_item_atlets{
    

}

.list_item_text{
    display: flex;
    flex-direction: column;

}
.list_zag
{

    font-size: 3.7857142857142857142857142857143rem;
    margin-bottom: 4.8443399586806297641946284818693%;
    display: flex;
    
    order:1;
}
.list_item_zag{
    font-size: 23px;
  
}
.pic{
    height: 283px;
    background-size: auto 100%;
    background-repeat: no-repeat;
 
}
.atlets_pic
{
    
    background-image: url(../img/footballer_192.png);
    margin-left: 47px;
    
    
   order: 2;
   
}