
$lilo: #5c42b0;
$white: #f6f4fa;
$lightgrey: #e7e7e7;
$grey: #dedede;
@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import 'node_modules/bootstrap/scss/bootstrap-grid';
@import 'firstpage.scss';
@import 'second.scss';
@import 'thirdpage.scss';
@import 'fivepage.scss';


h4{

    color: $lightgrey;
}
h6{

    color: $grey;
}
.bg-ww
  {
    background-color: #fff;
  }
  .bg-w
  {
    background-color: $white;
}
.bg-p
{
    background-color: $lilo;
}
.bg-bl
{
    background-color: #0a0e34;
    color: #c1c1c1;
}




ul{
    margin: 0;
    padding: 0;

}
li{
    margin:0;
    padding: 0;
}

.col-6{
    padding: 0;
}

@font-face{
    font-family: OpenSans-Bold;
    src: url('../fonts/OpenSans-Bold.ttf')
}
@font-face{
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans-Regular.woff2')
}

.page{ 
    width: 100%;
    height: 50vw;
  
}


/***/
.four_page_zag
{
    margin-top: 170px;
    margin-bottom: 77px;
}
.rect
{
    width: 100%;
    position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin-top:-35vw;
    
}