

.third_page_img
{
    width: 100%;
    display: flex;
    flex-direction: row;
  justify-content: flex-end;
  order: 3;

}
.players_pic{

height: 662px;
width: auto;
background-image: url(../img/basketballer_991.png);
background-size: auto 96vh;
background-repeat: no-repeat;
margin-top: -97vh;
}
.list_item_1-2{

   
    height:200px;
    
 
}
.list_item_2-2{

   
    height:170px;
    
 
}
.list_item_3-2{

    
    height:148px;
 
}



