/******************************************/

.third_page_img
{
    width: 100%;
    display: flex;
  justify-content: flex-end;

}
.players_pic{

height: 50vw;
width: auto;
background-image: url(../img/basketballer_991.png);
background-size: auto 50vw;
background-repeat: no-repeat;
margin-top: -50vw;
}
.list_item_1-2{

   
    height:200px;
    
 
}
.list_item_2-2{

   
    height:170px;
    
 
}
.list_item_3-2{

    
    height:148px;
 
}
.four_page_size
{
    height: 536px;
}